@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainModal {
  width: 100%;
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
  max-width: 830px;
  min-width: 531px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 60px 140px 70px 140px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.MuiDataGrid-root .MuiDataGrid-columnHeader{
  background: #3C3A38;
  color: white;
}
.MuiDataGrid-root .MuiDataGrid-cell{
  display: flex;
  align-items: center;
}
.imageDeleteButton{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageDeleteButton > div{
  display: none;
}
.imageDeleteButton:hover > div{
  display: flex;
}


.modalSlider{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 756px;
  width: 100%;
  height: 420px;
  padding: 50px 80px;
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.50);
  border-radius: 10px;
}
.modalSlider .slick-prev:before, .modalSlider .slick-next:before{
  font-size: 30px;
}
.modalSlider .slick-prev{
  left: -50px;
  width: 30px;
  height: 30px;
}
.modalSlider .slick-next{
  right: -50px;
  width: 30px;
  height: 30px;
}


.product__prop div:first-child {
  float: left;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #6E6C6A;
}

.product__prop div:last-child {
  float: right;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #2A2826;
}

.product__prop {
  overflow: hidden;
}

.product__prop:after {
  content: "\A0";
  display: block;
  overflow: hidden;
  border-bottom: 3px dotted #CED0D2;
  margin-top: -6px;
}

.product__prop div:first-child:after, .product__prop div:last-child:before {
  content: "";
  display: inline-block;
  width: .25em;
}


.product-view__main-slider{
  width: 410px;
  height: 226px;
}
.product-view-main-slider__item{
  width: 400px !important;
  height: 226px !important;
  border-radius: 10px;
  border: 1px solid #000000;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}


.product-view__vertical-slider{
  height: 230px;
  width: 90px;
}
.product-view__vertical-slider .slick-slider, .product-view__vertical-slider .slick-slider .slick-list{
  height: 100% !important;
}
.product-view__vertical-slider .slick-slide, .product-view__vertical-slider .slick-slide > div{
  background: transparent;
}
.product-view-vertical-slider__item{
  width: 85px;
  height: 52px;
  border: 1px solid #000000;
  border-radius: 2px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

